*{
 margin: 0;
 padding: 0;
 color: darkblue;
 font-family: 'Righteous', cursive;
}

//VARIABLES

//$favMargin: 30px;
$colBlue: darkblue;
$colTomato: tomato; 
$favBackground:rgba(255, 255, 255, 0.8);
$favRadius: 15px;

// MIXINS

//@mixin flex($direction) {
//    display: flex;
//    flex-direction: $direction;
//    justify-content: center;
//}

//Background

body {

background: url(../assets/img/brooke-lark-230140-unsplash.jpg) no-repeat center center fixed;
height: 100vh;
background-size: cover;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
}

//Navigation

nav {
 a {
 color: $colBlue;
  &:hover {
  color: $colTomato;
  }
}

 .my-brand {
  color: $colTomato; 
  border: 1 px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9); 
  }
}

//Home

.explanation {
  .my-row { 
   margin-left: 45px;
    .enjoy {
     margin-top: 50px;
     margin-bottom: 30px;
     }
      .my-question {
       h2 {
       margin-bottom: 30px;
       }
        .my-button-row {
         .my-button-col {
          margin-right: 50px;
           a {
           text-decoration: none;
           }
            .my-button {
             height: 52.4px;
             width: 115px;
             background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
             box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6); 
	         border-radius:$favRadius;
	         border:1px solid black;
	         color: $colBlue;	
	         font-size:13px;
	         padding:6px 24px;
	         text-decoration:none;

              &:hover {
	          background:linear-gradient(to bottom, #ffffff 5%, #808080 100%);
              }
              &:active {
	          position:relative;
              top:1px;
              box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
      }
     }
    }
   }
  }
 }
}

//Footer

.my-footer {
 position: fixed;
 left: 0;
 bottom: 0;
 width: 100%;
 text-align: center;
  a:hover {
  color: $colTomato;
  }
}

//Cards

.my-card-row {
 background: rgb(255, 255, 255);
 border-radius: $favRadius;
  .my-card {
   a:hover {
   color: $colTomato;
   }
  }
}

//How It Works

.explanation-how {
  .my-row {
   .how-works {
     margin-top: 50px;
     margin-bottom: 30px;
    line-height: 1.5;
  }
 }
}
//Contact

.my-contact-container {
margin-top: 50px;
 .my-contact-row {
 background: $favBackground;
 border-radius: $favRadius;
  .my-address-col {
   justify-content: center;
  }
 }
}

//Ingredients

.my-ingredient-container {
  margin-top: 50px;
  background:$favBackground;
 .my-ingredient-row {
 // background: $favBackground;
  border-radius: $favRadius;
  .my-button-row {
         .my-button-col {
          margin-right: 50px;
           a {
           text-decoration: none;
           }
            .my-button {
             height: 52.4px;
             width: 115px;
             background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
             box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6); 
	         border-radius:$favRadius;
	         border:1px solid black;
	         color: $colBlue;	
	         font-size:13px;
	         padding:6px 24px;
	         text-decoration:none;

              &:hover {
	          background:linear-gradient(to bottom, #ffffff 5%, #808080 100%);
              }
              &:active {
	          position:relative;
              top:1px;
              box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
       }
      }
     }
    }
  .ingredient-col {
   .my-table {
    .my-icon {
     width: 100px;
     height: 100px;
}
    }
    
   }
  }
 }

//RESPONSIVE

@media (max-width: 600px) {

//Home

.explanation {
 width: 100%;
  .my-row { 
   width: 100%;
   margin-left: 0px;
   margin-top: 40px;
   background: $favBackground;
   border-radius: $favRadius;
    .enjoy {
     h1 {
     font-size: 20px;
     margin-bottom: 20px;
     }
    }
     .my-question {
      .question {
       font-size: 1.5rem;  
       }
       .my-button-row {
        .my-button-col {
         height: 60px;
          .my-button {
           width: 95px;
           height: 41.4px;
           font-size: 10px;
           }
          }
         }
        }
       }
      }

//Contact

.my-contact-container {
 .my-contact-row {
  height: 515px;
   .my-address-col {
    margin-top: 25px;
    justify-content: flex-start;
   }
  }
 }

 //Ingredients

 .my-ingredient-container {
   .my-ingredient-row {
     height: 525px;
     margin-bottom: 15px;
     flex-direction: row;
     align-content: center;
   }
 }

 //How It Works

 .explanation-how {
  .my-row {
   .how-works {
     font-size: 20px;
     background: $favBackground;
   border-radius: $favRadius;
   }
  }
 }
}

@media (min-width: 600px){

  //Home

.explanation {
 padding-left: 0px;
 margin-top: 35px;
  .my-row { 
   .enjoy {
    h1 {
     font-size: 35px;  
     margin-bottom: 20px;
    }
   }
     .my-question {
      .question {
       font-size: 35px;  
       }
       .my-button-row {
        .my-button-col {
         margin-right: 75px;
         height: 60px;
          .my-button {
           width: 130px;
           height: 60.4px;
           font-size: 15px;
           }
          }
         }
        }
       }
      }

//Contact

.my-contact-container {
 .my-contact-row {
  height: 530px;
   .my-address-col {
    margin-top: 25px;
    justify-content: flex-start;
   }
  }
 }
}

@media (min-width: 750px){ 
  //Contact

    .my-contact-container {
 .my-contact-row {
  height: 360px;
  flex-direction: column;
  }
 }

 //Ingredients

 .my-ingredient-container {
 .my-ingredient-row {
  .ingredient-col {
    margin-top: 40px;
    }
   }
 }
}

@media (min-width: 1024px) {

  //Home

.explanation {
 padding-left: 0px;
 margin-top: 35px;
  .my-row { 
   .enjoy {
    h1 {
    font-size: 35px;  
    margin-bottom: 20px;
    }
   }
    .my-question {
     .question {
      font-size: 25px;   
      }
     .my-button-row {
      margin-left: 40px;
       .my-button-col {
        margin-right: 20px;
        height: 60px;
         .my-button {
          width: 95px;
          height: 46.4px;
          font-size: 12px;
          }
         }
        }
       }
      }
     }

//Contact

.my-contact-container {
    .my-contact-row {
 height: 360px;
 flex-direction: column;
  }
 }

 //Ingredients
 
.my-ingredient-container {
 .my-ingredient-row {
   height: 445px;
  .ingredient-col {
    margin-top: 60px;
    }
   }
 }
}