*{
    margin: 0;
    padding: 0;
}

body {

  background: url(../assets/img/brooke-lark-230140-unsplash.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  //overflow: hidden;
  font-family: 'Righteous', cursive;
  color: tomato;
}

//Navigation

nav {

    a {
        color: darkblue;
    }

    .my-brand {
        color: #ff6347; 
        border: 1 px solid white;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.9);

    
     }
}

//Header

.my-button {
	
	background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6); 
	border-radius:15px;
	border:1px solid black;
	color: tomato;	
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;

    &:hover {
	background:linear-gradient(to bottom, #ffffff 5%, #808080 100%);
}
    &:active {
	position:relative;
    top:1px;
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}
}

.explanation {
    .my-row {
       .enjoy {
            color: darkblue;
            // border-radius: 5px;
       // background-color: rgba(255, 255, 255, 0.5);
       }
      .my-question {
        h2 {
        margin-bottom: 30px;
        }
        .my-button-row {
          .my-button {
          // width: 90px;
           min-height: 91px;  //BUTTONS ARE NOT IN THE SAME HEIGHT
           //max-height: 90px;
    }
   }
  }
 }
}

//Responsive

@media (max-width: 600px) {



    
}
