* {
  margin: 0;
  padding: 0;
  color: darkblue;
  font-family: 'Righteous', cursive; }

body {
  background: url(../assets/img/brooke-lark-230140-unsplash.jpg) no-repeat center center fixed;
  height: 100vh;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; }

nav a {
  color: darkblue; }
  nav a:hover {
    color: tomato; }

nav .my-brand {
  color: tomato;
  border: 1 px solid white;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9); }

.explanation .my-row {
  margin-left: 45px; }
  .explanation .my-row .enjoy {
    margin-top: 50px;
    margin-bottom: 30px; }
  .explanation .my-row .my-question h2 {
    margin-bottom: 30px; }
  .explanation .my-row .my-question .my-button-row .my-button-col {
    margin-right: 50px; }
    .explanation .my-row .my-question .my-button-row .my-button-col a {
      text-decoration: none; }
    .explanation .my-row .my-question .my-button-row .my-button-col .my-button {
      height: 52.4px;
      width: 115px;
      background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
      box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
      border-radius: 15px;
      border: 1px solid black;
      color: darkblue;
      font-size: 13px;
      padding: 6px 24px;
      text-decoration: none; }
      .explanation .my-row .my-question .my-button-row .my-button-col .my-button:hover {
        background: linear-gradient(to bottom, #ffffff 5%, #808080 100%); }
      .explanation .my-row .my-question .my-button-row .my-button-col .my-button:active {
        position: relative;
        top: 1px;
        box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6); }

.my-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center; }
  .my-footer a:hover {
    color: tomato; }

.my-card-row {
  background: white;
  border-radius: 15px; }
  .my-card-row .my-card a:hover {
    color: tomato; }

.explanation-how .my-row .how-works {
  margin-top: 50px;
  margin-bottom: 30px;
  line-height: 1.5; }
  .explanation-how .my-row .how-works a:hover {
    color: tomato;
    text-decoration: none; }

.my-contact-container {
  margin-top: 50px; }
  .my-contact-container .my-contact-row {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px; }
    .my-contact-container .my-contact-row .my-address-col {
      justify-content: center; }

.my-ingredient-container {
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.8); }
  .my-ingredient-container .my-ingredient-row {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px; }
    .my-ingredient-container .my-ingredient-row .my-button-row .my-button-col {
      margin-right: 50px; }
      .my-ingredient-container .my-ingredient-row .my-button-row .my-button-col a {
        text-decoration: none; }
      .my-ingredient-container .my-ingredient-row .my-button-row .my-button-col .my-button {
        height: 52.4px;
        width: 115px;
        background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
        box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
        border-radius: 15px;
        border: 1px solid black;
        color: darkblue;
        font-size: 13px;
        padding: 6px 24px;
        text-decoration: none; }
        .my-ingredient-container .my-ingredient-row .my-button-row .my-button-col .my-button:hover {
          background: linear-gradient(to bottom, #ffffff 5%, #808080 100%); }
        .my-ingredient-container .my-ingredient-row .my-button-row .my-button-col .my-button:active {
          position: relative;
          top: 1px;
          box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6); }
    .my-ingredient-container .my-ingredient-row .ingredient-col .my-checkbox-label {
      font-size: 15px; }

@media (max-width: 600px) {
  .explanation {
    width: 100%; }
    .explanation .my-row {
      width: 100%;
      margin-left: 0px;
      margin-top: 40px; }
      .explanation .my-row .enjoy h1 {
        font-size: 20px;
        margin-bottom: 20px; }
      .explanation .my-row .my-question .question {
        font-size: 1.5rem; }
      .explanation .my-row .my-question .my-button-row .my-button-col {
        height: 60px; }
        .explanation .my-row .my-question .my-button-row .my-button-col .my-button {
          width: 95px;
          height: 41.4px;
          font-size: 10px; }
  .my-contact-container .my-contact-row {
    height: 515px; }
    .my-contact-container .my-contact-row .my-address-col {
      margin-top: 25px;
      justify-content: flex-start; }
  .my-ingredient-container .my-ingredient-row {
    height: 585px;
    margin-bottom: 20px;
    flex-direction: row;
    align-content: center; }
  .explanation-how .my-row .how-works {
    font-size: 20px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 15px; } }

@media (min-width: 600px) {
  .explanation {
    padding-left: 0px;
    margin-top: 35px; }
    .explanation .my-row .enjoy h1 {
      font-size: 35px;
      margin-bottom: 20px; }
    .explanation .my-row .my-question .question {
      font-size: 35px; }
    .explanation .my-row .my-question .my-button-row .my-button-col {
      margin-right: 75px;
      height: 60px; }
      .explanation .my-row .my-question .my-button-row .my-button-col .my-button {
        width: 130px;
        height: 60.4px;
        font-size: 15px; }
  .my-contact-container .my-contact-row {
    height: 530px; }
    .my-contact-container .my-contact-row .my-address-col {
      margin-top: 25px;
      justify-content: flex-start; } }

@media (min-width: 750px) {
  .my-contact-container .my-contact-row {
    height: 360px;
    flex-direction: column; }
  .my-ingredient-container .my-ingredient-row .ingredient-col {
    margin-top: 40px; } }

@media (min-width: 1024px) {
  .explanation {
    padding-left: 0px;
    margin-top: 35px; }
    .explanation .my-row .enjoy h1 {
      font-size: 35px;
      margin-bottom: 20px; }
    .explanation .my-row .my-question .question {
      font-size: 25px; }
    .explanation .my-row .my-question .my-button-row {
      margin-left: 40px; }
      .explanation .my-row .my-question .my-button-row .my-button-col {
        margin-right: 20px;
        height: 60px; }
        .explanation .my-row .my-question .my-button-row .my-button-col .my-button {
          width: 95px;
          height: 46.4px;
          font-size: 12px; }
  .my-contact-container .my-contact-row {
    height: 360px;
    flex-direction: column; }
  .my-ingredient-container .my-ingredient-row {
    height: 445px; }
    .my-ingredient-container .my-ingredient-row .ingredient-col {
      margin-top: 60px; } }
